<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
    <button ng-click="getApplicants()">View Applicants</button>
      <h1>Applicants</h1>
      <ul id="applications" class="list-unstyled">
        <li ng-repeat="apply in applicants">
          <h1>apply.name</h1><br>
          <h1>apply.bio</h1><br>
          <h1>apply.skills</h1><br>
          <h1>apply.years</h1><br>
          <h1>apply.bio</h1>
        </li>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>