<!DOCTYPE html>
<html ng-app="lingoApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lingo</title>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
</head>
<body ng-controller="translateController">

	<form>
		<label>Input Language: <input type="radio"></label>
		<label>Output Language: <input ng-model="translateTo" type="radio"></label>
		<label>Input Text: <input ng-model="translateInput" type="text"></label>
		<label>Output Text: </label>

	</form>


	<script src="../js/main.js"></script>
	
</body>
</html>



<!--
	<script src="https://www.googleapis.com/language/translate/v2/languages?key=AIzaSyDjotSVF_hLHDP0cZVzujbIuQcstrkX3Sc&target=zh-TW"></script>
	-->